# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test Generate DCP Report

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install tools
      run: make install-tools

    - name: Check code
      run: make lint

    - name: Test Generate DCP Report Yaml
      run: make generate-report

    - name: Test Generate DCP Report Screenshot
      run: make generate-screenshot
